header{
  position: relative;
}
#cart-container{
  max-width: 500px;
  margin: auto;
}


.tarjeta-producto{
  display: flex;
  align-items: center;
  height: 100px;
  gap: 20px;
}

.tarjeta-producto img{
  height: 100%;
}

.tarjeta-producto h3{
  width: 130px;
}
.tarjeta-producto div{
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #838181;
}

#totales{
  text-align: center;
}

#carrito-vacio{
  text-align: center;
}

#carrito-vacio a{
  color: #d50d60;
  text-decoration: underline;
}
#seguir-comprando{
  background-color:  #d50d60 ;
  border: 1px solid #838181;
  color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

#reiniciar{
  text-decoration: underline;
  background-color: white;
  border: 1px solid #838181;
  color: #d50d60;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}


#finalizar{ 
  border: 1px solid #838181;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

