@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   text-align: center;
}


i{
    cursor: pointer;
}


.logo {
    height: 3rem;
    margin-right: 200px;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    padding-top: 5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 0px rgba(59, 59, 59, 0.763);
    padding: 1rem;
    position: relative;
    width: 100%;

 
}

/*seccion presentacion*/
.presentacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background:#FDEDF4;

    }

.contenedor-texto {
     width: 100%;
        }    

.contenedor-texto h1 {
    color: #d50d60;
    font-size: 25px;
}
    
.contenedor-texto p {
    font-size: 18px;
}
    
.contenedor-imagen img {

    width: 100%;
    height: auto;
}

/*seccion marcas*/
.marcas {
    padding: 5rem;
}
    
.marcas h2 {
    margin-bottom: 20px;
}
    
.contenedor-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
    
.contenedor-logos img {
    width: 90px;
    height: auto;
    margin: 10px;
    object-fit: contain;
}


.shop{
    display: grid;
    grid-template-columns: repeat(4,223px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}



@media (max-width:1000px){
    .shop{
        grid-template-columns: repeat(2,223px);
    }
}

@media (max-width:500px){
    .shop{
        grid-template-columns: repeat(1,223px);
    }
}

.item{
    border: 2px solid #212529;
    border-radius: 4px;
}

.item img{
    width: 100%;

}

.details{
    /* display: flex;
    flex-direction: column; */
    padding: 10px;
    gap: 10px;
    width: 100%;
}

.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;  
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
    /* padding: 6px; */
    font-size: 16px;
}

.bi-dash-lg{
    color: rgb(0, 0, 0);
}

.bi-plus-lg{
    color: #d50d60 ;
}



.text-center{
    text-align:center;
    margin-bottom: 20px;
}

.removeAll{
    color:white;
    border:none;
    padding:6px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
}



.removeAll{
    background-color:#d50d60;
}



/**
* ! style rules for shopping cart
**/

.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1,500px);
    justify-content: center;
    gap: 15px;
    margin: 50px;
}

.cart-item{
    border: 2px solid #d50d60 ;
    border-radius: 5px;
    display: flex;
}

.title-price-x{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
}

.title-price{
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-item-price{
    background-color: #ffffff;
    color: #d50d60;
    border-radius: 4px;
    padding: 10px 10px;
}




/* carrito de compras */

.carrito-flotante {
    position: fixed;
    bottom: 43rem;
    right: 5rem;
    border-radius: 5px; 
    z-index: 1000;
    background-color: rgb(255, 255, 255);

}

.cart{
    position: relative;
    border: 2px solid #d50d60;
    color:  #d50d60;
    padding: 5px;
    font: 30px;
    border-radius: 5px;    
}

.cartAmount{
    font-size: 14px;
    background-color:#d50d60;;
    color: rgb(255, 255, 255);
    position: absolute;
    top: -10px;
    right: -15px;
    padding: 2px 8px;
    border-radius: 25px;
}

/* Contacto */
.contacto {
    max-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
}
.contacto form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.contacto input, .contacto textarea, .contacto button {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
}
.contacto > h2 {
    display: flex;
    justify-content: center;
    margin: 3em 0em 1em 0em;
}
.contacto input {
    width: 680px;
}
.contacto textarea {
    width: 680px;
}

.contacto button {
    background: #333;
    color: #fff;
    cursor: pointer;
    /* transition: background 0.3s; */
    width: 68px;
}

.contacto button:hover {
    background: #555;
}

/*RESPONSIVE*/

@media screen and (max-width: 900px){
    
    /*Presentacion*/
    .presentacion {
        flex-wrap: wrap;
        }

        .contenedor-texto {
            width: 100%;
               }  
    

    .contenedor-texto h1 {
        width: 100%;
        color: #d50d60;
        margin-bottom: 20px;
        font-size: 25px;
    }
        
    .contenedor-texto p {
        font-size: 15px;
        color:#632B47;
    }
        
    .contenedor-imagen img {
       
        padding: 0;
        width:80%;
        height: auto;
    }

    
    /*seccion marcas*/
    .marcas h2 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #632B47;
    }
    .consejos iframe {
        height: 100%;
        width: auto;
    }

    #ubicacion iframe {
        height: 100%;
        width: auto;
    }

    /*formulario*/
    form {
         width: 300px;
  
    }

    .btn-wsp {
        bottom: 50px;
        right: 50px;
    
    }
}